// Portfolio section

.portfolio-container {
    @include display-flex-center;



    @media screen and (max-width: $mobile-screen) {
        padding: 10px 0px;
    }
}

.portfolio-inner {
    align-items: flex-start;
    flex-direction: column;

    .col-3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        @media screen and (max-width: $mobile-screen) {
            flex-direction: column;
            }

            .loader-container {
                width: 100%;
                height: 100vh;
                position: fixed;
                background: url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center no-repeat;
                z-index: 1;

                .spinner {
                    width: 64px;
                    height: 64px;
                    border: 8px solid;
                    border-color: $second-color transparent $second-color transparent;
                    border-radius: 50%;
                    animation: spin-anim 1.2s linear infinite;
                }
             
                @keyframes spin-anim {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }

                .loader-container {
                    width: 100%;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    z-index: 1;
                }
            }
    }
    
    .card {
        width: 33.3%;
        padding: 20px;

    @media screen and (max-width: $mobile-screen) {
        width: 90%;
        margin-bottom: 30px;
        }

        .card-inner {
            position: relative;
            height: 370px;
        }

        .portfolio-img {
            background-size: cover;
            background-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .bg-color {
            @include display-flex-center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            opacity: 0%;
            z-index: 10;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: .45s ease-in-out;
        }

        .bg-color:hover {
            opacity: 100%;
            background-color: rgba(0, 0, 0, 0.776);
            color: white
        }
        

        .card-main {
        @include display-center-column;
        position: relative;
        z-index: 20;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 25px;
        justify-content: center;
        align-items: center;

        p {
            margin-right: 0;
        }

        @media screen and (max-width: $mobile-screen) {
        align-items: center;

            mr-m {
            margin-right: 0;
            }
        }
        }
    }
}

.center {
    justify-content: center;
}
