// Portfolio section

.portfolio-container {
    @include display-flex-center;



    @media screen and (max-width: $mobile-screen) {
        padding: 10px 0px;
    }
}

.portfolio-inner {
    align-items: flex-start;
    flex-direction: column;

    .col-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        @media screen and (max-width: $mobile-screen) {
            flex-direction: column;
            }
    }
    
    
    .card {
        width: 33.3%;

    @media screen and (max-width: $mobile-screen) {
        width: 90%;
        margin-bottom: 30px;
        }

        .portfolio-img {
            
            background-size: cover;
            position: absolute;
            width: 20%;
             height: 36%;
        }

        .dark:hover {
            background-color: black;
            color: white;
            opacity: 95%;
            position: relative;
            z-index: 10;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 76%;
            transition: .45s ease-in-out;

        }

        .light:hover {
            background-color: white;
            opacity: 95%;
            position: relative;
            z-index: 10;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 76%;
            transition: .45s ease-in-out;
        }
        

        .card-main {
        @include display-center-column;
        position: relative;
        z-index: 20;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 19px;

        @media screen and (max-width: $mobile-screen) {
        align-items: center;

            mr-m {
            margin-right: 0;
            }
        }
        }
    }
}


.center {
    justify-content: center;
}

.hyphens {
    @media screen and (max-width: $tablet-screen) {
       word-wrap: break-word;
       overflow-wrap: break-word;
       hyphens: auto;
        } 
}
