@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		transform:         translateY(0);
	}
	40% {
		transform:         translateY(-15px);
	}
	60% {
		transform:         translateY(-7px);
	}
}

.wrapper, .content {
    @include display-flex-center
}

.wrapper {
    width: 100%;
    animation: wrapper-anim 0.3s linear;
    @keyframes wrapper-anim {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @include display-flex-center;

        &-inner {
            width: $primary-width;
            max-width: $max-width;

        }
    &.hide {
        opacity: 0;
        transition: 0.3s all ease-in-out;
    }
}

.col-2 {
    display: flex;

}

/* Header content */

.text-content {

    &-inner {
        display: flex;

        @media screen and (max-width: $mobile-screen) {
            flex-direction: column-reverse;
        }
    }
}

.content {
    flex-direction: column;
    margin-bottom: 0;

        @media screen and (max-width: $mobile-screen) {
        align-items: center;
     }

    h1 {
        span {
            animation: h1-anim 0.2s linear;
            @keyframes h1-anim {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
        @media screen and (max-width: $tablet-screen) {
            font-size: 3rem;
        }

        @media screen and (max-width: $mobile-screen) {
            font-size: 3rem;
            text-align: center;
            line-height: 2.5rem;
            margin-top: 30px;
        }
    }

    h2 {
        @media screen and (max-width: $tablet-screen) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: $mobile-screen) {
            font-size: 1.8rem;
            text-align: center;
            line-height: 2rem;
            margin-top: 15px;
        }
    }
}

// Buttons
.btn {
    display: flex;
    text-decoration: none;
    color: #fff;

    @media screen and (max-width: $mobile-screen) {
        margin-bottom: 40px;
    }

    div {
        @include flex-align;
        background-color: #8872ed;
        width: 100%;
        border-radius: 10px;
        border: none;
        height: 40px;
        padding: 25px 35px;
    }
}

// Social media icons
.social-media {
    @media screen and (max-width: $mobile-screen) {
        @include flex-column-align;
    }

    img {
        width: 50px;
        height: 50px;
    }

    p {
        margin-bottom: 15px;
        font-size: 1.2rem;
    }

    .social-logo {
        display: flex;

        .bounce {
            cursor: pointer;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;

            &:hover{
            animation-name: bounce;
            }

        }
    }
}

