// Variabels - fonts and color
$font: 'Josefin Sans', sans-serif;
$second-font: 'Josefin Slab', sans-serif; 
$primary-color: #000;
$second-color: #8872ed;
$third-color: #FCDA68 ; 
$tables-border: #eaeaea;

// Variables - Width and height
$primary-width: 95%;
$max-width: 1400px;

// Responsive breaks
$tablet-screen: 1000px;
$mobile-screen: 767px; 
